.lostDeals {
    display: flex;
min-width: 320px;
min-height: 200px;
padding: 24px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
flex: 1 0 0;
align-self: stretch;
border-radius: 16px;
background: var(--White, #FFF);
}

.heading {
    display: flex;
padding-bottom: 16px;
align-items: flex-start;
gap: 8px;
align-self: stretch;
color: var(--Black, #131313);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.2px;
}

.stats {
    display: flex;
align-items: baseline;
gap: 8px;
}

.lostDealStat {
    color: var(--Black, #131313);
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -2px;
}

.lostDealText {
    color: var(--Dark-Gray, #454545);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.3px;
}

.lostDealReportWrapper {
    display: flex;
padding-top: 16px;
align-items: flex-end;
gap: 8px;
flex: 1 0 0;
}

.lostDealReport {
    display: flex;
align-items: center;
gap: 4px;
color: var(--Dark-Orange, #734A00);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.3px;
}